@import "variables";
// scss-docs-start container-max-widths
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1170px,
  xxl: 1320px,
) !default;

/*typography*/
$font-family-sans-serif: "ttnorms", sans-serif;

$font-size-base: 1.125rem;
$line-height-base: 1.44;

$font-size-sm: 1rem;
$line-height-sm: 1.375;

$font-size-lg: 1.3125rem;
$line-height-lg: 1.428;

$h1-font-size: 2.625rem;
$h2-font-size: 2.625rem;

$headings-margin-bottom: 20px;

/*links*/
$link-color: $dodgerBlue;

/*navbar*/
$navbar-light-toggler-icon-bg: url(../images/burger.svg);
$btn-focus-width: 1px;
$navbar-light-color: $white;
$navbar-light-active-color: $razzmatazz;
$navbar-light-hover-color: $razzmatazz;

$navbar-dark-toggler-icon-bg: url(../images/burger-drk.svg);
$navbar-dark-color: $dodgerBlue;
$navbar-dark-active-color: $razzmatazz;
$navbar-dark-hover-color: $razzmatazz;

/*btn*/
$info: $athensGray !default;
$btn-font-size: $font-size-base !default;
$btn-font-weight: 400 !default;
$btn-border-radius: 0.625rem !default;
$btn-padding-y: 0.4375rem !default;
$btn-padding-x: 1rem !default;
$btn-border-width: 0rem !default;
