/*FONT*/
$font-family-sans-serif: "ttnorms", sans-serif;
/*COLORS*/
$white: #ffffff;
/*main*/
$rhino: #323264;
$mulledWine: #46466e; /*Alt*/
$stormGray: #686887; /*Soft*/

/*accent*/
$razzmatazz: #f0145a;
$dodgerBlue: #24a3ff; /*Active*/
$azureRadiance: #0085ff; /*Active Hover*/
$scienceBlue: #006ccf; /*Active Active*/

/*grey*/
$whisper: #f5f5fa; /*Bg*/
$whiteLilac: #ededf7; /*Bg Alt*/
$bombay: #b3b3ba; /*Text*/
$athensGray: #e6e6f0; /*Separator*/

/*bcg for clients logo*/
$chathamsBlue: #1c4280; /*Hillel*/
$elephant: #143646; /*WannaBiz*/
$jaffa: #f48b30; /*Tapgerine*/
$amethyst: #9e4dc3; /*3dlook*/
$neonCarrot: #fd9339; /*Orangear*/
$iron: #e2e2e4; /*Adtelligent*/
$cardinal: #c71c36; /*Clickky*/
$whiteIce: #dcf3f9; /*EcoLeasing*/
$gallery: #eaeaea; /*InfraTek*/
$ebonyClay: #282240; /*CityPark*/
$biscay: #1d4568; /*ArtPrintStudio*/
$black: #000000; /*UltimateCard*/

/*shadow*/
$mischka: #cacadb;
$whisperShadow: #e7e7f2;

/*gradient*/
$introGradient: linear-gradient(128.63deg, #323264 0%, #323264 73.96%, #a54b5f 100%);
$softGradient: linear-gradient(42.01deg, #323264 14.33%, #323264 51.39%, #7a425e 87.53%);
$redGradient: linear-gradient(121.42deg, #f0145a 30.65%, #693264 107.33%);
$superSoftGradient: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643e72 87.46%);
$redTextGradinet: linear-gradient(90.13deg, #f0145a 0.84%, #ef8080 99.96%);

/*MIXINS - basic settings for tags & classes*/
/*.subnav > a*/
@mixin benefits {
  font-size: 42px;
  line-height: 49.57px;
  font-weight: bold;
  color: $bombay;
  text-decoration: none;
  &:hover {
    background: #ef8080;
    background: -webkit-linear-gradient(to right, #ef8080 0%, #f0145a 100%);
    background: -moz-linear-gradient(to right, #ef8080 0%, #f0145a 100%);
    background: linear-gradient(to right, #ef8080 0%, #f0145a 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
/*.block-heading*/
@mixin block-heading-up-lg {
  background: $redTextGradinet;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: $h1-font-size;
  line-height: 49.57px;
  letter-spacing: 0.8px;
  font-weight: $font-weight-bold;
}
@mixin block-heading-sm {
  background: $redTextGradinet;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 32px;
  line-height: 37.77px;
  letter-spacing: 0.8px;
  font-weight: $font-weight-bold;
}

/*.breadcrumbs*/
@mixin breadcrumbs {
  text-decoration: none;
  font-size: 14px;
  line-height: 16.52px;
  letter-spacing: 1px;
  font-weight: $font-weight-bold;
  &:hover {
    color: $razzmatazz;
  }
}
/*FOOTER .divider-point*/
@mixin footer-divider-point {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: $bombay;
  top: calc(50% - 3px);
  left: -15px;
  @include media-breakpoint-down(lg) {
    display: none;
  }
}